body {
  text-align: center;
  margin: 0;
  position: relative;
}

.top {
  background-color: #eaf6f6;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: relative;
}

.h2 {
  text-decoration: underline;
}

.c1 {
  position: absolute;
}

.c2 {
  position: absolute;
  left: 0px;
  top: 200px;
}

.image {
  background-color: #eaf6f6;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  padding-bottom: 20px;
}

.image img {
  width: 100%;
  height: 100%;
}

.m1 {
  border-radius: 300px;
  object-fit: cover;
}

h1 {
  margin-top: 0;
  padding-top: 220px;
  color: #66bfbf;
  font-size: 3rem;
}

h2 {
  color: #66bfbf;
  font-size: 2rem;
}

.mid {
  font-family: cursive;
  width: 50%;
  margin: auto;
  line-height: 2;
}

.mypic {
  margin: 50px 50px 0 50px;
  border-radius: 300px;
  width: 200px;
  height: 200px;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 3%;
  margin: 30px auto;
}

p {
  color: #40514e;
}

h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.h2skills {
  padding: 50px 0;
}

.skill1 {
  width: 50%;
  height: 200px;
  margin: 30px auto;
  padding-bottom: 30px;
  font-family: cursive;
  text-align: left;
  line-height: 2;
}

.photo1 {
  width: 180px;
  height: 190px;
  border-radius: 90px;
  float: left;
  margin: 0 30px;
}

h3 {
  color: #11999e;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.photo2 {
  width: 250px;
  height: 190px;
  border-radius: 90px;
  float: right;
  margin: 0 30px;
}

.skill2 {
  width: 50%;
  height: 200px;
  margin: 50px auto;
  padding: 30px 0;
  font-family: cursive;
  text-align: left;
  line-height: 2;
}

.contact {
  font-family: cursive;
  width: 50%;
  margin: 70px auto;
  line-height: 2;
}

.btn {
  background: #11cdd4;
  border-radius: 8px;
  padding: 10px 20px;
  text-decoration: none;
  color: #ffff;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  font-size: 20px;
}

.btn:hover {
  background: #30e3cb;
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.footer {
  background-color: #66bfbf;
  font-family: cursive;
  padding: 50px 0 30px;
}

.link {
  text-decoration: none;
  color: #11999e;
  margin: 0 15px;
}

.link:hover {
  color: #eaf6f6;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.7rem;
  padding: 25px 0;
}
